<aside id="aside-menu" class="d-flex flex-column m-2 ms-0 mt-0 p-2 pt-0 bg-body-tertiary vh-100" style="min-width:160px; max-width:200px;">
    @foreach (var group in Service.CaregoryLinkGroups)
    {
        <LinkComponent LinkGroup="group" OnLinkClick="OnLinkClick"></LinkComponent>
    }

    @foreach (var group in Service.FilterGroups)
    {
        <FilterComponent FilterGroup="group"></FilterComponent>
    }

    <button class="btn btn-outline-primary rounded-0 mt-2" @onclick="FilterProducts">Apply Filter</button>
</aside>

@code {
    [CascadingParameter(Name = "Service")] public UIService? Service { get; set; }
    [Parameter] public EventCallback OnChange { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Service is not null)
        {
            await Service.GetLinkGroup();
            await OnChange.InvokeAsync();
        }
    }

    async Task OnLinkClick(int id)
    {
        if (Service is not null)
        {
            await Service.OnLinkClick(id);
            //await Service.GetProductsAsync();
            await OnChange.InvokeAsync();
        }
    }

    async Task FilterProducts()
    {
        if (Service is not null)
        {
            await Service.FilterProducts();
            await OnChange.InvokeAsync();
        }
    }
}
