@inject UIService service

<div class="d-flex flex-column m-2 ms-0 p-2 pt-0 border border-secondary-subtle" style="min-width:160px; max-width:200px;">
    <LinkComponent LinkGroup="service.LinkGroup" OnLinkClick="service.OnLinkClick"></LinkComponent>

    @foreach (var group in service.FilterGroups)
    {
        <FilterComponent FilterGroup="group"></FilterComponent>
    }

    <button class="btn btn-outline-primary rounded-0 mt-2" @onclick="FilterProducts">Apply Filter</button>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await service.GetLinkGroup();
    }

    private async Task FilterProducts(MouseEventArgs e)
    {
        // Use the filters collection
    }
}