@page "/"

<PageTitle>eCommerce</PageTitle>

<h1>eCommerce</h1>

<section class="d-flex ms-1">
    <div class="flex-shrink-1">
        <AsideComponent></AsideComponent>
    </div>
    <div class="flex-wrap w-100">
        <ProductComponent></ProductComponent>
    </div>
</section>