@page "/"

<PageTitle>eCommerce</PageTitle>

<MenuComponent></MenuComponent>

<section id="viewport" class="d-flex vh-100">
    <div class="flex-shrink-1">
        <doc>
            <AsideComponent></AsideComponent>
        </doc>
    </div>
    <div class="flex-wrap w-100 pt-3">
        <ProductComponent></ProductComponent>
    </div>
</section>


