@page "/"

<PageTitle>eCommerce</PageTitle>

<h1>eCommerce</h1>

<FilterComponent FilterGroup="CheckboxFilterGroup"></FilterComponent>
@* <FilterComponent Filters="RadioFilters"></FilterComponent>
<FilterComponent Filters="RangeFilters"></FilterComponent>
 *@
<button @onclick="FilterProducts">Apply Filter</button>

@code {
    FilterGroupModel CheckboxFilterGroup = new()
    {
        Id = 1,
        Name = "Group 1",
        FilterOptions = new()
        {
            new (1, "Option 1", FilterType.Checkbox),
            new (2, "Option 2", FilterType.Checkbox, true)
        }
    };

    /*List<FilterOption> CheckboxFilters = new()
    {
        new (1, "Option 1", FilterType.Checkbox),
        new (2, "Option 2", FilterType.Checkbox, true)
    };

    List<FilterOption> RadioFilters = new()
    {
        new (3, "Radios", FilterType.RadioButton, new List<RadioModel> { new(1, "Radio 1"), new(2, "Radio 2"), new(3, "Radio 3") })
    };

    List<FilterOption> RangeFilters = new()
    {
        new (4, "Range", FilterType.Range, 1, 100)
    };*/


    private async Task FilterProducts(MouseEventArgs e)
    {
        // Use the filters collection
    }
}